@font-face {
  font-family: 'Gotham Black';
  src: url('../webfonts/Gotham-Black.eot');
  src: local('Gotham-Black'),
  url('../webfonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/Gotham-Black.woff2') format('woff2'),
  url('../webfonts/Gotham-Black.woff') format('woff'),
  url('../webfonts/Gotham-Black.ttf') format('truetype'),
  url('../webfonts/Gotham-Black.svg#Gotham-Black') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Gotham';
  src: url('../webfonts/Gotham-BlackItalic.eot');
  src: local('Gotham-BlackItalic'),
  url('../webfonts/Gotham-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/Gotham-BlackItalic.woff2') format('woff2'),
  url('../webfonts/Gotham-BlackItalic.woff') format('woff'),
  url('../webfonts/Gotham-BlackItalic.ttf') format('truetype'),
  url('../webfonts/Gotham-BlackItalic.svg#Gotham-BlackItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: block;
}


