/* (Gotham-Ultra)             weight: 500,      style: normal */

@font-face {
  font-family: 'Gotham Ultra';
  src: url('../webfonts/Gotham-Ultra.eot');
  src: local('Gotham Ultra'), local('Gotham-Ultra'),
  url('../webfonts/Gotham-Ultra.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/Gotham-Ultra.woff2') format('woff2'),
  url('../webfonts/Gotham-Ultra.woff') format('woff'),
  url('../webfonts/Gotham-Ultra.ttf') format('truetype'),
  url('../webfonts/Gotham-Ultra.svg#Gotham-Ultra') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* (Gotham-Ultra)             weight: 500,      style: italic */
@font-face {
  font-family: 'Gotham Ultra';
  src: url('../webfonts/Gotham-UltraItalic.eot');
  src: local('Gotham-UltraItalic'),
  url('../webfonts/Gotham-UltraItalic.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/Gotham-UltraItalic.woff2') format('woff2'),
  url('../webfonts/Gotham-UltraItalic.woff') format('woff'),
  url('../webfonts/Gotham-UltraItalic.ttf') format('truetype'),
  url('../webfonts/Gotham-UltraItalic.svg#Gotham-UltraItalic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}


