/* Gotham-XLight              weight: 300       style: normal */
@font-face {
  font-family: 'Gotham XLight';
  src: url('../webfonts/Gotham-XLight.eot');
  src: local('Gotham-XLight'),
  url('../webfonts/Gotham-XLight.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/Gotham-XLight.woff2') format('woff2'),
  url('../webfonts/Gotham-XLight.woff') format('woff'),
  url('../webfonts/Gotham-XLight.ttf') format('truetype'),
  url('../webfonts/Gotham-XLight.svg#Gotham-XLight') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

/* Gotham-XLight              weight: 300       style: italic */
@font-face {
  font-family: 'Gotham XLight';
  src: url('../webfonts/Gotham-XLightItalic.eot');
  src: local('Gotham-XLightItalic'),
  url('../webfonts/Gotham-XLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/Gotham-XLightItalic.woff2') format('woff2'),
  url('../webfonts/Gotham-XLightItalic.woff') format('woff'),
  url('../webfonts/Gotham-XLightItalic.ttf') format('truetype'),
  url('../webfonts/Gotham-XLightItalic.svg#Gotham-XLightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: block;
}
